absl-py==0.9.0
appdirs==1.4.3
argon2-cffi==20.1.0
asn1crypto==0.24.0
astor==0.8.1
attrs==20.2.0
awkward==0.12.21
backcall==0.2.0
backports.functools-lru-cache==1.6.1
bcolz==1.2.1
bleach==3.1.5
blis==0.4.1
boto==2.49.0
boto3==1.10.32
botocore==1.13.32
cachetools==3.1.1
catalogue==0.0.8
certifi==2019.11.28
cffi==1.12.3
chardet==3.0.4
Click==7.0
cloudpickle==1.2.1
coffea==0.6.39
conda==4.8.4
conda-package-handling==1.3.10
ConfigArgParse==1.2
cryptography==2.6.1
cycler==0.10.0
cymem==2.0.3
Cython==0.29.15
cytoolz==0.9.0.1
dask==2.0.0
de-core-news-sm==2.2.5
decorator==4.4.0
defusedxml==0.6.0
dgl==0.4.3.post2
dgl-cu100==0.4.3.post2
dill==0.3.1.1
distlib==0.3.0
docutils==0.15.2
en-core-web-sm==2.2.5
entrypoints==0.3
filelock==3.0.12
Flask==1.1.2
funcsigs==1.0.2
future==0.18.2
gast==0.2.2
gensim==3.8.1
google-api-core==1.14.3
google-auth==1.7.0
google-auth-oauthlib==0.4.1
google-cloud-language==1.3.0
google-pasta==0.2.0
googleapis-common-protos==1.6.0
grpcio==1.25.0
h5py==2.9.0
idna==2.8
imageio==2.5.0
importlib-metadata==0.23
ipykernel==5.3.4
ipython==7.18.1
ipython-genutils==0.2.0
ipywidgets==7.5.1
itsdangerous==1.1.0
jedi==0.15.2
Jinja2==2.11.1
jmespath==0.9.4
joblib==0.14.1
jsonschema==3.2.0
jupyter-client==6.1.7
jupyter-console==6.2.0
jupyter-core==4.6.3
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
libarchive-c==2.8
llvmlite==0.32.1
lmdb==0.98
lz4==3.0.2
Markdown==3.2.1
MarkupSafe==1.1.1
matplotlib==3.1.0
methodtools==0.1.2
mistune==0.8.4
mock==3.0.5
more-itertools==7.2.0
mplhep==0.1.21
murmurhash==1.0.2
mypy-extensions==0.4.3
nbconvert==5.6.1
nbformat==5.0.7
networkx==2.3
nltk==3.4.5
notebook==6.1.3
numba==0.49.1
numexpr==2.6.9
numpy==1.16.4
oauthlib==3.1.0
olefile==0.46
OpenNMT-py==1.1.1
opt-einsum==3.2.0
packaging==20.3
pandas==0.24.2
pandocfilters==1.4.2
parso==0.5.2
path==13.1.0
path.py==12.4.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==6.0.0
plac==1.1.3
portalocker==1.5.2
preshed==3.0.2
prometheus-client==0.8.0
prompt-toolkit==3.0.7
protobuf==3.10.0
psutil==5.6.7
ptyprocess==0.6.0
py-lz4framed==0.14.0
py-rouge==1.1
pyarrow==0.15.1
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycosat==0.6.3
pycparser==2.19
Pygments==2.6.1
pyonmttok==1.18.3
pyOpenSSL==19.0.0
pyparsing==2.4.0
pyrouge==0.1.3
pyrsistent==0.17.0
PySocks==1.6.8
python-dateutil==2.8.0
# Editable install with no version control (pytorch-pretrained-bert==0.4.0)
-e /afs/crc.nd.edu/user/x/xdong2/CommonGen-master/methods/unilm_based/unilm/src
pytorch-transformers==1.2.0
pytz==2019.1
PyWavelets==1.0.3
PyYAML==5.1.1
pyzmq==19.0.2
qtconsole==4.7.7
QtPy==1.9.0
regex==2020.5.14
requests==2.22.0
requests-oauthlib==1.3.0
rouge==1.0.0
rsa==4.0
ruamel-yaml==0.15.46
s3transfer==0.2.1
sacrebleu==1.4.4
sacremoses==0.0.38
scikit-image==0.15.0
scikit-learn==0.21.2
scipy==1.4.1
scons==3.1.2
Send2Trash==1.5.0
sentencepiece==0.1.85
-e git+https://github.com/eladhoffer/seq2seq.pytorch@769c9995594ea0059075280f49a86ac4dace28bd#egg=seq2seq
six==1.12.0
smart-open==1.9.0
spacy==2.2.3
srsly==0.2.0
subword-nmt==0.3.7
tables==3.5.2
tensorboard==2.1.1
tensorboard-plugin-wit==1.6.0.post2
tensorboardX==1.9
tensorflow==2.1.0
tensorflow-estimator==2.1.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
texar-pytorch==0.1.1
Theano==1.0.4
thinc==7.3.1
toolz==0.9.0
torch==1.4.0
torchtext==0.4.0
tornado==6.0.2
tqdm==4.30.0
traitlets==5.0.4
typing==3.7.4.1
uproot==3.11.6
uproot-methods==0.7.4
urllib3==1.25.8
virtualenv==20.0.13
waitress==1.4.3
wasabi==0.4.0
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wirerope==0.3.1
wrapt==1.12.1
xdg==4.0.1
zipp==0.6.0
